[submodule "\\Users\\yhw99_000\\Documents\\GitHub\\team06-Project\\Oauth\\"]
	path = \\Users\\yhw99_000\\Documents\\GitHub\\team06-Project\\Oauth\\
	url = C:\\Users\\yhw99_000\\Documents\\GitHub\\team06-Project\\Oauth\\
