.buttonLogin {
	background-color: #1fad72;
	color: #FFFFFF;
	background-image: none;
	border-image: none;
	border-radius: 0px;
	font: Laksaman;
	font-size: 12px;
}

.buttonSettings {
	background-color: #8C92AC;
	color: #FFFFFF;
	background-image: url("Assets/082__setting_cog.png");
	border-image: none;
	border-radius: 0px;
	font-size: 1px;
}

.buttonSettings:hover {
	background-color: #A3AAC7;
	color: #FFFFFF;
}

.buttonSettings:active {
	background-color: #8C92AC;
	color: #FFFFFF;
}

.iconBox {
	background-color: #8C92AC;
}

.loginBox {
	border-image: none;
	border-radius: 0px;
	background-color: #FFFFFF;
	background-image: none;
	color: #000000;
	font: Laksaman;
	font-size: 10px;
	
}

.bgWhite {
	background-image: none;
}

.loginBox:selected {
	color: #CB6D51;
}

.repoBox {
	border-image: none;
	border-radius: 0px;
	background-color: #FFFFFF;
	background-image: none;
	color: #000000;
	font: Laksaman;
	font-size: 8px;
}

.repoBox:selected {
	color: #CB6D51;
}

.buttonLogin:hover {
	background-color: #4A9586;
	color: #FFFFFF;
}

.buttonLogin:active {
	background-color: #5EAE9E;
	color: #FFFFFF;
}

.transparent {
	background-color: #EFEFEF;
	text-shadow: black;
}

.font {
	color: #000000;
	font: Laksaman;
	font-size: 10;
}

.fontWhite {
	color: #FFFFFF;
	font: DejaVu Sans;
	font-size: 10px;
}

.titleFont {
	color: #000000;
	font: Laksaman;
	font-size: 40px;
}

.bg {
	background-image: url("Assets/PxtaE4S.png");
}

.notebook {
	border-width: 0px;
	background-color: @base;
	box-shadow: inset 4px 3px 3px -5px #000000;
	
}

.notebook tab {
	background-color: #1c2c3d;
	border-image: none;
	background-image: none;
	border-style: solid;
	box-shadow: none;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 18px;
}

.notebook frame {
    	border: none;
	background-color: #7d60ff;
}

.notebook header {
	background-color: #434c5b;
	border-image: none;
	background-image: none;
}


.backgroundDark {
	background-color: #1c2c3d;
	box-shadow: inset 0px -1px 3px -2px #000000;
}

.notebook tab:hover {
	background-color: #6c4fff;
	transition: 100ms linear;
}

.notebook tab:active {
	background-color: #101c26;
	background-image: none;
	transition: 250ms ease-in-out;
	box-shadow: inset 3px 0px 0px #6c4fff;
	
}

.headerWhite {
	background-color: #FFFFFF;
	/*box-shadow: inset 0 -1px 1px -3px #000000;*/
	color: #000;
}

.introText {
	color: #000;
	font: DejaVu Sans;
	font-size: 18;
}

.statusButton1 {
	background-color: #297fb8;
	color: #FFFFFF;
	background-image: none;
	border-image: none;
	border-radius: 0px;
	font: DejaVu Sans;
	border-width: 0px;
	font-size: 12px;
	box-shadow: 1px 1px 4px -3px #000;
}

.statusButton2 {
	background-color: #94b74f;
	color: #FFFFFF;
	background-image: none;
	border-image: none;
	border-radius: 0px;
	border-width: 0px;
	font: DejaVu Sans;
	font-size: 12px;
	box-shadow: 1px 1px 4px -3px #000;
}

.statusButton3 {
	background-color: #f39712;
	color: #FFFFFF;
	background-image: none;
	border-image: none;
	border-radius: 0px;
	border-width: 0px;
	font: DejaVu Sans;
	font-size: 12px;
	box-shadow: 1px 1px 4px -3px #000;
}

.statusButton4 {
	background-color: #c1392b;
	color: #FFFFFF;
	background-image: none;
	border-image: none;
	border-width: 0px;
	border-radius: 0px;
	font: DejaVu Sans;
	font-size: 12px;
	box-shadow: 1px 1px 4px -3px #000;
}

.statusButton4:hover {
	box-shadow: inset 0px -30px 0px #FFF;
}

.statusButton4:active {
	background-color: #f46e60;
}

.fontRed {
	color: #c1392b;
	
}

.statusText {
	color: #FFF;
	font-size: 20;
}

.notificationButton {
	background-color: #FFF;
	background-image: none;
	border-image: none;
	border-width: 0px;
	border-radius: 0px;
}

.table row:selected {
	background: #A2ADD0;
	border-width: 0px;
}

.table header {
	background: #A2ADD0;
	background-color: #A2ADD0;
}

